@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import "~normalize.css";
@import "clock";
@import "buttons";
@import "listOfTimers";
@import "timer";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif, Arial;
  font-size: 12px;
  background: #4f346b url("./bg.jpg");
}

#datetime {
  padding: 3px;
  border: 2px solid #a1a1a1;
  font-weight: bold;
  background: #b7b7b7;
  outline: none;
}

.conteiner {
  padding: 10px;
  color: white;
  p {
    padding: 5px;
    color: white;
  }
}
.inputTimerName, .inputTimerDate {
  margin-left: 19px;
  padding: 4px;
  border: 2px solid #a1a1a1;
  font-size: 14px;
  font-weight: bold;
  background: #b7b7b7;
  outline: none;
}

@media (max-width: 768px) {
  #formTimer {
    display: flex;
    flex-direction: column;
    input {
      margin: 10px 0;
    }
    button {
      margin: 10px 0;
    }
  }

}
